{% load static %}

{% block content %}

    {% include 'MyBlog/partial/_header.html' %}

{% endblock %}

<main class="container">
    <!--Search bar-->
    <br>
    <form method="get" action="{% url 'search' %}" style="max-width: 950px; padding-left: 200px;">
        <div class="form-group row">
            <div class="col-12">
                <input class="form-control"
                       type="search" value="{{ request.GET.term }}"
                       id="search-input"
                       placeholder="Pesquisar"
                       name="term">
            </div>
        </div>
    </form>

    <!--Nav filter links-->
    <div class="nav-scroller py-1 mb-2 white-text" style="padding-top: 30px !important;">
        <nav class="nav d-flex">
            <a class="p-2 link-secondary text-white" href="{% url 'see_library' %}">Anéis de polinômios</a>
            <a class="p-2 link-secondary text-white" href="{% url 'see_language' %}">Anéis e Ideais</a>
            <a class="p-2 link-secondary text-white" href="{% url 'see_news' %}">Grupos</a>
            <a class="p-2 link-secondary text-white" href="{% url 'see_reference' %}">Referências</a>
        </nav>
    </div>

    <div class="row mb-2 blog-texts" style="padding-top: 0px !important;">
        {% for post in posts %}
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">{{ post.category }}</strong>
                        <h3 class="mb-0">{{ post.title }}</h3>
                        <div class="mb-1 text-muted">{{ post.date }} | por <strong>{{ post.author }}</strong></div>
                        <p class="card-text mb-auto">{{ post.short_description|safe }}</p>
                        <a href="{% url 'see_post' post.id %}" class="stretched-link">Continue lendo...</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="200" height="250" role="img"
                             src="{{ post.post_image.url }}">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</main>

<!--Pagination-->
<nav aria-label="Page navigation example" style="width: 125px; margin: 0 auto; float: none;">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="?p={{ posts.paginator.1 }}1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            {% for pag in posts.paginator.page_range %}
                {% if posts.number == pag %}
                    <li class="page-item active">
                        <a class="page-link" href="?p={{ pag }}">{{ pag }}</a>
                    </li>
                {% else %}
                    <li class="page-item ">
                        <a class="page-link" href="?p={{ pag }}">{{ pag }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        <li class="page-item">
            <a class="page-link" href="?p={{ posts.paginator.2 }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
